body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
    width: 4rem;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #586358;
  transition: color 0.3s;
}

.menu a:hover {
  color: #F0C419;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}




/*Esto es para la seccion de inicio*/



.inicio {
  background-color: white;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0rem auto;
}

.texto {
  width: 50%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  padding-left: 4rem;
}

.texto h1 {
    width: auto;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 20px;
}

.morado {
  color: #800080;
}

.texto p {
  font-size: 18px;
  color: black;
  margin-bottom: 30px;
}

.boton-contratar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 10rem;
  text-align: center;
}

.boton-contratar:hover {
  background-color: #0056b3;
}


/*Seccion de galeria de imagenes*/
/* Estilos para dispositivos de escritorio */
  .galeria{
        width: 50%;
        height: auto;
        z-index: 1;
    }
      .imagenes {
    width: 100%;
    display: flex;
    justify-content: center;
  }
    .fondo-celeste {
    max-width: 20rem;
    max-height: 12rem;
    background-color: rgb(173, 218, 255);
    margin-top: 15rem;
    transform: rotate(-135deg);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    transform: rotate(-135deg);
  }

  .imagen {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
  }

  .imagen.pequena {
    width: 5rem;
    height:  5rem;
  }

  .imagen.grande {
    width: 10rem;
    height: 10rem;
  }
 .imagen.mediana {
    width: 7rem;
    height: 7rem;
  }
  .imagen.me {
    margin-top: -5rem;
  }
.imagen.pe {
    margin-left: 2rem;
  }

  .imagenes img {
    object-fit: cover;
    transform: rotate(-225deg);
  }
.uno {
    width: 8rem;
    height: 8rem;
    margin: -1rem -1rem -1rem -1.7rem;
}
.dos {
    width: 15rem;
    height: 15rem;
    margin: -2rem -1rem -1rem -2rem;
}
.tres {
    width: 8rem;
    height: 8rem;
    margin: -2rem -1rem -1rem -2rem;
}
.cuatro {
    width: 12rem;
    height: 12rem;
    margin: -2rem -1rem -1rem -2rem;
}
.cinco {
    width: 15rem;
    height: 15rem;
    margin: -2rem -5rem -2rem -3rem;
}
.seis {
    width: 12rem;
    height: 12rem;
    margin: -2rem -1rem -1rem -2rem;
}



/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {

  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
    z-index: 300;
  }

  .content {
    padding-top: 60px;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: 90px;
    left: 0;
    padding-top: 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3000;   
  }

  .menu.active li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .logo img{
    width: 3rem;
  }
  .logo h3{
    font-size: 1rem;
  }
  .inicio {
    display: flex;
    flex-direction: column-reverse;
  }
  .texto {
    padding-left: 2rem;
    margin: 0;
    width: 95%;
    margin-top: 5rem;
  }
  .texto h1 {
    font-size: 1.6rem;
  }

     .galeria{
        width: 95%;
        height: auto;
        margin: 0 auto;
        z-index: 1;
        
    }
    .fondo-celeste {
    max-width: 15rem;
    max-height: 7rem;
    background-color: rgb(173, 218, 255);
    margin-top: 5rem;
    transform: rotate(-135deg);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    transform: rotate(-135deg);
  }

  .imagen {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
  }

  .imagen.pequena {
    width: 3rem;
    height:  3rem;
  }

  .imagen.grande {
    width: 7rem;
    height: 7rem;
  }
 .imagen.mediana {
    width: 5rem;
    height: 5rem;
  }
  .imagen.me {
    margin-top: -4rem;
  }
.imagen.pe {
    margin-left: 2rem;
  }

  .imagenes img {
    object-fit: cover;
    transform: rotate(-225deg);
  }
}





